<div class="slide" data-anchor="education">
    <div class="about_container">

        <div class="info_container">
            <div class="about_info_2">

                <div class="about_info_text description_text">
                    <p class="paragraph">
                        <b>MY EDUCATIONAL BACKGROUND</b><br><br>
                        I graduated in 2014 with a Bachelor of Science (hons) in Architectural Design and Technology from Cardiff Metropolitan University in Cardiff, Wales. A three year degree, consisting of several modules, including “Theory and context, Built Heritage, Design Studio 1, 2 & 3, Management, Architectural Science 1 & 2 and Research in Practice”. A large interest of mine at this time was the impact building design had on the human psyche. My dissertation titled “The influence of Climate Change on the Design of Educational Buildings” looked at overheating and the ability to learn. This interest has continued and I would love to implement this, as well as further, research to my career.<br><br>

                        Many of my course choices preceding my degree had been influenced by architecture. Studying art, physics and math at higher studies level have all proved useful in my career.

                    </p>
                </div>

            </div>
            <div class="image_container" style="background-color: ">
                <img src="assets/aboutPageImages/2.svg" height="100%" style="position: absolute; left:50%; transform: translate(-50%, 0)">
            </div>
            <div class="page_number">Page 3 of 4</div>
        </div>
    </div>
</div>
