<div class="slide" data-anchor="professional">
    <div class="about_container">

        <div class="info_container">

            <div class="about_info_2">

                <div class="about_info_text description_text">
                    <div class="paragraph">
                        <b>MY PROFESSIONAL BACKGROUND</b><br><br>
                        After graduating in 2014, I took a personal year to travel America, Canada and parts of Europe. Once returning to the UK, I begin my career as an Architectural Technologist. I found a job at small, well respected, local Architecture firm in Cardiff. My role here included:<br><br>

                        <ul>
                            <li>Project delivery individually and as part of a team
                            </li>
                            <li>Excellent design and presentation</li>
                            <li>Preparing planning and building regulation applications
                            </li>
                            <li>Producing tender documentation
                            </li>
                            <li>Producing detailed working drawings and specifications
                            </li>
                            <li>Specifying the nature and quality of materials
                            </li>
                            <li>Research into new materials and technologies including taking part in continual Professional Development (CPD) presentations
                            </li>
                            <li>Keeping within financial budgets and deadlines
                            </li>
                            <li>Site visits and inspections
                            </li>
                            <li>Resolving problems that arise during construction
                            </li>
                            <li>Ensuring that environmental impact of the project is considered and managed.</li>
                        </ul>

                        <br>In addition to these responsibilities I was fortunate enough to be able to use other skills picked up through personal studies. I worked with other members of the team to design and produce a brand new company website through my knowledge of HTML, CSS and Wordpress. I gained an invaluable amount of experience from this firm and owe them a great deal of gratitude.

                    </div>
                </div>

            </div>
            <div class="image_container">
                <img src="assets/aboutPageImages/4.jpg" height="100%" style="position: absolute; left:0; opacity:0.8">
            </div>
            <div class="page_number">Page 4 of 4</div>
        </div>
    </div>
</div>
