<div class="slide" data-anchor="whatMakesMeDiff">
    <div class="about_container">

        <div class="info_container">

            <div class="about_info_2">

                <div class="upper_text_fade"></div>

                <div class="about_info_text description_text">
                    <p class="paragraph">
                        <b>WHAT MAKES ME DIFFERENT?</b><br><br>
                        My ability to work both technically and creatively make me an ideal candidate for your team. Working in practice for the past two years, I was quick to recognize the importance of being able to produce high quality graphic images whilst keeping within strict deadlines. Working to improve my own efficiency in CAD softwares through the use of visual programming software “Dynamo”, I feel I can bring a newfound direction of thinking to the technologist position.<br><br>

                        In 2014, I graduated with honours in Architectural Design and Technology, building the foundation for my interest and curiosity in architecture. Researching newfound ideas and practices outside of my studies and career have become a huge component to the growth of my career. Taking outside time to develop skills in various softwares as well as thinking of new, creative ways to complete a task has allowed me to progress within the field.<br><br>

                        My fascination with programming began in 2014, when I decided to design and build my own website. In the early stages of development, I began to sustain a full understanding of basic coding languages such as HTML and CSS. As I continued to develop my site, an implementation of more advanced coding languages such as Javascript evolved as well. Feeling confident in my knowledge of ‘object orientated’ languages, I recognized an opportunity to translate these notions into Dynamo to automate tasks within Revit. I completed my first successful script in 2015, automating the creation of room data sheets, reducing a tedious 3/4 day task to a few hours. Because of the success of my script, a passion arose to learn more about the automation processes. I began learning about the Revit API in which the languages C# and Python are introduced. My development within both of these languages can become extremely useful in creating more efficient, interesting work flows, implemented throughout the firm’s current systems of work.

                    </p>
                </div>

                <div class="bottom_text_fade"></div>

            </div>
            <div class="image_container">
                <img src="assets/aboutPageImages/3.jpg" height="100%" style="position: absolute; left:0; opacity:0.8">
            </div>
            <div class="page_number">Page 2 of 4</div>
        </div>
    </div>
</div>
