<div class="slide" data-anchor="whoAmI">

    <div class="info_container">

        <div class="about_info_2">

            <div class="upper_text_fade"></div>

            <div class="about_info_text description_text">

                <p class="paragraph">

                    <b>WHO AM I?</b><br><br>
                    I am an Architectural Technologist specializing in both design and technology. Proudly involved in the modernization of the practice of Architecture, following the study and research of computational and sustainable design.<br><br>

                    I grew up in Cardiff, a small city in the United Kingdom, and have been pursuing a career in Architecture for the majority of my life. I have spent the past two years working in practice, consistently improving, discovering, and focusing on my qualities that separate me from others in a similar role. I am confident that my interest in programming and expanding graphic skills will become invaluable as the field of Architecture grows further towards a world of computational design.
                    <br><br>

                    I am always on the lookout for amazing opportunities, leading me to spend the last few months in Canada, trying to succeed to work in one of the most beautiful countries in the world. Although this didn’t work out for me, I was able to spend a lot of time researching different ideas as well as learning more useful career skills I would not have had the chance to working in practice. I am now back in the UK for the foreseeable future and am eager to contribute my knowledge and skills to a well-established architecture firm.
                </p>
            </div>

            <div class="bottom_text_fade"></div>

        </div>
        <div class="image_container">
            <img src="assets/aboutPageImages/About_Me_Main_Image.jpg" height="100%" style="position: absolute; left:60%; transform: translate(-50%, 0)">

        </div>
        <div class="page_number">Page 1 of 4</div>
    </div>
</div>
