<div class="about_container section">
    <div class="info_container">
        <div class="vertical_text right_side">this is me</div>
        <div class="vertical_text left_side">find out more</div>

        <div class="about_image"><img class="image_style" src="assets/About_Me_Main_Image.jpg" height="100%"></div>
        <div class="about_info">
            <b class="big_yellow">A</b>
            <b style="margin-left:5px; font-size: 1em;">BOUT ME.</b>

            <span class="raise_text_before">
                <div class="about_info_text description_text" style="font-size: 1.2em!important; color:black!important; line-height: 40px!important">
                    Discover whether I could fit in with you and your team.
                </div>

                <a style="display: inline-block; float: right; margin-top: 5%" href="HTML/About.html">
                    <div class="button_line"></div>
                    <div class="button_container">
                        <div class="button_text">More about me</div>
                    </div>
                </a>
            </span>

        </div>
    </div>

    {{ include('_downArrow.html.twig', {position: 'left'}) }}

</div>
