<div class="contact_container section">

    <div id="contact_container">
        <div class="copyright_bar_phone">&copy; Designed and produced by Jamie Pask</div>
        <div class="vertical_text left_side">Contact me</div>
        <div id="contact_info">
            <b class="big_yellow">C</b>
            <b style="margin-left:5px; font-size: 1em;">ONTACT.</b>

            <span class="raise_text_before">
                <div class="about_info_text description_text" style="font-size: 1.2em!important; color:black!important; line-height: 40px!important; ">
                    If you're looking to expand your team or just have any comments about my work, I would love to hear from you.
                </div>

                <a style="display: inline-block; float: right; margin-top: 5%" href="DOWNLOADABLE CONTENT/J Pask Portfolio.pdf">
                    <div class="button_line"></div>
                    <div class="button_container">
                        <div class="button_text">Download PDF Portfolio</div>
                    </div>
                </a>
            </span>
            <div class="copyright_bar">&copy; Designed and produced by Jamie Pask</div>

        </div>


        <div id="contact_icon_container">
            <div class="icon">
                <a href="tel:+447446906906" class="fa fa-phone contact_icon"></a>
                <b>07446906906</b>
            </div>


            <div class="icon">
                <a href="https://www.linkedin.com/in/jamie-pask" i class="fa fa-linkedin-square contact_icon"></a>
                <b>jamiepask</b>
            </div>


            <div class="icon">
                <a href="mailto:jamiepask1392@gmail.com?Subject=Hello%20again" class="fa fa-envelope contact_icon"></a>
                <b>
                    jamiepask1392@gmail.com</b>
            </div>
            <div class="icon">
                <a href="https://www.instagram.com/jamiepask92" class="fa fa-instagram contact_icon"></a>
                <b>jamiepask92</b>
            </div>
        </div>
        <div class="back_to_top" onclick="onBacktoTopArrowClick()">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 161.94 159.97" style="width:30px; transform: rotate(180deg) translate(50%, 50%); position: absolute; left:50%; top:50%; margin: 0; padding:0">
                <defs>
                    <style>
                        .back_to_top_arrow {
                            fill: none;
                            stroke: black;
                            stroke-miterlimit: 10;
                            stroke-width: 10px;
                        }
                    </style>
                </defs>
                <g>
                    <g>
                        <polyline class="back_to_top_arrow" points="158.52 80.31 80.92 153.11 3.42 80.31"/>
                        <line class="back_to_top_arrow" x1="80.92" y1="153.11" x2="80.92"/></g>
                </g>
            </svg>
        </div>

    </div>

</div>
