<div class="home_page_container section">
    <div id="home_page_container">
        <div id="home_text_container">
            <div id="home_text">
                <h4 style=" margin-bottom: 20px; color:gold; font-weight: normal; font-size: 3em; opacity:1; line-height: 40px; text-transform: uppercase">
                    <b style="color:white; font-weight: bolder!important; font-family: arial black!important">Jamie</b>
                    <b>
                        pask.
                    </b>
                    <b style="font-weight: 100; color:white; text-transform: uppercase; font-size: 0.4em">
                        <br>Architectural Technologist
                    </b>
                </h4>
            </div>
        </div>

        {{ include('_downArrow.html.twig', {position: 'left'}) }}

    </div>
</div>
