<div class="about_container section">

    <div class="info_container">

        <div class="vertical_text right_side">view projects</div>
        <div class="vertical_text left_side">Final year project</div>

        <div class="about_image left_aligned_image"><img class="image_style align_image_left" src="assets/Portfolio_Main.jpg" style="height:100%; filter: grayscale(1)"></div>
        <div class="about_info right_aligned_info">

            <b class="big_yellow">P</b>
            <b style="margin-left:5px; font-size: 1em;">ORTFOLIO.</b>

            <span class="raise_text_before">
                <div class="about_info_text description_text" style="font-size: 1.2em!important; color:black!important; line-height: 40px!important; ">
                    View a range of projects completed and ongoing within my career.
                </div>

                <a style="display: inline-block; float: right; margin-top: 5%" href="HTML/Gallery.html">
                    <div class="button_line"></div>
                    <div class="button_container">
                        <div class="button_text">VIEW PROJECTS</div>
                    </div>
                </a>
            </span>

        </div>
    </div>
    <div class="arrow" style="right:16.6666%!important; margin-bottom: 5%!important">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 161.94 159.97">
            <defs>
                <style>
                    .arrow-1-black {
                        fill: none;
                        stroke: black;
                        stroke-miterlimit: 10;
                        stroke-width: 10px;
                    }
                </style>
            </defs>
            <title>Down Arrow Simple</title>
            <g data-name="Layer 2">
                <g data-name="Layer 6">
                    <polyline class="arrow-1-black" points="158.52 80.31 80.92 153.11 3.42 80.31"/>
                    <line class="arrow-1-black" x1="80.92" y1="153.11" x2="80.92"/></g>
            </g>
        </svg>
    </div>
</div>
