<div id="side-bar">
    <h3></h3>
    <ul>
        <a href="/admin/projects">
            <li>Projects</li>
        </a>
        <a href="">
            <li>Users</li>
        </a>
    </ul>
    <h3 class='logout-button'>
        <a href="">Logout</a>
    </h3>
</div>
