{% extends "cms/adminBase.html.twig" %}

{% block title %}
    Admin Entry | Jamie Pask
{% endblock %}

{% block stylesheets %}

    {# <link href="{{ asset('css/homepage/landing.css') }}" rel="stylesheet"/> #}

{% endblock %}

{% block body %}

    <div class="back-button">
        <a href="">Back to users</a>
    </div>
    <dl>
        <b>First Name:</b>
        <span>NAME</span>
    </dl>

    <dl>
        <b>Last Name:</b>
        <span>NAME</span>
    </dl>

    <dl>
        <b>Username:</b>
        <span>NAME</span>
    </dl>

    <a href="">Edit user</a>


{% endblock %}{% block javascripts %}{% endblock javascripts %}
