<div class="arrow" style={% if position == 'left' %} 'left:8.3333%' {% elseif position == 'right' %} 'right:8.3333%' {% endif %} onclick="onArrowClick()">
    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 161.94 159.97">
        <defs>
            <style>
                .arrow-1 {
                    fill: none;
                    stroke: white;
                    stroke-miterlimit: 10;
                    stroke-width: 10px;
                }
            </style>
        </defs>
        <title>Down Arrow Simple</title>
        <g id="Layer_3" data-name="Layer 2">
            <g id="Layer_5" data-name="Layer 6">
                <polyline class="arrow-1" style="" points="158.52 80.31 80.92 153.11 3.42 80.31"/>
                <line class="arrow-1" x1="80.92" y1="153.11" x2="80.92" stroke="red"/>
            </g>
        </g>
    </svg>
</div>
