<div class="section_container">

    <div class="secton_left">

        <div class="section_headings">
            <h1>Full gallery</h1>
        </div>

        <div class="all_images_container my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

            {% for image in allImages %}
                <figure 
                    class="all_images" 
                    itemprop="associatedMedia" 
                    itemscope itemtype="http://schema.org/ImageObject">
                    <a 
                        href="/assets/projects/{{image['imagePath'] ~ image['fileType']}}" 
                        itemprop="contentUrl" 
                        data-size="3610x2315">
                        <img 
                            src="/assets/projects/{{image['imagePath'] ~ image['fileType']}}" 
                            style="height:100%;" itemprop="thumbnail" 
                            alt="Image description"/>
                    </a>
                    <figcaption 
                        itemprop="caption description">
                        {{image['name']}}
                    </figcaption>
                </figure>
            {% endfor %}

        </div>

    </div>

</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>
</div>
