<div class="mySlides fade">
    <div class="numbertext">{{ current }} / {{ count }}</div>
    <img class="individual_image" src="/assets/projects/{{ image['imagePath'] ~ image['fileType']}}">
    <div class="text">{{image['name']}}</div>
</div>
